
.hidden {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
  text-align: center;
}
#ex td {
  width: 33%;
}

div.padded {
  margin: 15px;
}
table {
  margin-top: 15px;
  margin-bottom: 15px;
}
td {
  padding: 15px;
}

html, div, table, textarea {
  font-size: 18px;
}
textarea, button {
 font-family: inherit;
 font-size: inherit;
}

textarea {
  width: 10em;
  height: 10em;
}
textarea.short {
  height: 5em;
}
textarea.medium {
  height: 10em;
}
textarea.tall {
  height: 21em;
}

